$("#comment_<%= @comment.id %>").html('<div><strong><%= j @comment.user.username %>:</strong> <%= j @comment.comment_text %></div><div><%= link_to "Edit", edit_post_comment_path(@comment.post, @comment), remote: true %> <%= link_to "Delete", [@comment.post, @comment], method: :delete, data: { confirm: "Are you sure?" } %></div>')

$("#comment_comment_text").val("")