<div class="form-style-2">
  <div class="form-style-2-heading">Log In</div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email, class: "content-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field" %>
    </div>
    
    <div class="form-group">
      <%= f.label :password, class: "content-label" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "input-field" %>
    </div>

    <div class="btn-submit wo-label">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>