<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, class: "content-label" %>
    <%= form.text_field :title, id: :post_title, class: "input-field" %>
  </div>

  <div class="form-group">
    <%= form.label :content_text, class: "content-label" %>
    <%= form.text_area :content_text, id: :post_content_text, class: "textarea-field" %>
  </div>

  <div class="form-group">
    <%= form.label :content_url, class: "content-label" %>
    <%= form.text_field :content_url, id: :post_content_url, class: "input-field" %>
  </div>

  <%= form.hidden_field :user_id %>

  <div class="btn-submit wo-label">
    <%= form.submit %>
  </div>
<% end %>
