<div class="form-style-3">
  <div class="form-style-2-heading"><%= @post.title %></div>
  <div class="content-div">
	  <div class="content"><%= @post.content_text %></div>
	  <div class="post-info">by <strong><%= @post.user.username.capitalize %></strong></div>	  
	</div>	
	<% if can? :manage, @post %>
		<%= link_to 'Edit', edit_post_path(@post), remote: true %> | 
	<% end %>
	<%= link_to 'Back', posts_path %>

	<%= render "comments/index", comments: @comments, post: @post %>	
	
</div>	